.pokemon {

  &__box {
    width: 100%;
    margin-top: 24px;
    text-align: center;
    background-color: #eaebed;

  }

  &__photo {
    position: relative;
    padding: 0 0 100% 0;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__name {
    margin-top: 10px;
    font-size: 30px;
  }

  &__info {
    margin-top: 10px;
    font-size: 28px;
    padding-bottom: 20px;
  }
}

@media (max-width: 567px) {


  .pokemon__name {
    font-size: 20px;
  }

  .pokemon__info {
    font-size: 18px;

  }
}